*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  appearance: none;
  margin: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}
$blue: #ffb800;
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
button {
  cursor: pointer;
}

// Top-Header block
.top-header {
  background: #eaeaea;
  height: 33px;
  display: flex;
  align-items: center;
  width: 100%;
  .closeBtn {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    color: #ffb800;
    cursor: pointer;
  }
  .posrel {
    width: 100%;
    .container {
      .nav_menu {
        display: flex;
        align-items: center;
        li {
          margin-right: 30px;
          font-family: Cyntho Next;
          font-size: 14px;
          a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .selectMob {
          display: none;
        }
      }
    }
  }
}

// Header md

.head-menu {
  padding: 48px 0;
  border-bottom: 1px solid rgba(188, 188, 188, 1);
  width: 100%;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    .gamburger {
      display: none;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .gamburger-menu {
        width: 65px;
        height: 65px;
        background-image: url("./../img/icons/menu-mobile.svg");
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fff;
        box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .title-m {
      text-align: center;
      color: #717171;
      font-family: Cuprum;
      top: 0;
      position: relative;
    }
    .adress {
      .block-loc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
        font-family: Cyntho Next;
        font-size: 20px;
        height: 65px;
        .loc-icon {
          margin-right: 10px;
        }
      }
    }
    .telcon {
      .block-tel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        text-align: right;
        .tel-icon {
          margin-right: 10px;
          width: 65px;
          height: 65px;
          background-color: #fff;
          border-radius: 50%;
          box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.2);
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .text-tel {
          p {
            strong {
              font-size: 24px;
              font-family: Cyntho Next;
            }
            &:nth-child(2) {
              color: #717171;
              font-family: Cuprum;
            }
          }
        }
      }
    }
    .cart {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .cart-icon {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        position: relative;
        .num-cart {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 28px;
          height: 28px;
          background-color: $blue;
          border-radius: 50%;
          font-family: Cuprum;
          position: absolute;
          font-size: 18px;
          top: -5px;
          right: -5px;
          color: #fff;
        }
      }
      .title-cart {
        p {
          &:nth-child(2) {
            color: #717171;
            font-family: Cuprum;
            font-size: 18px;
          }
          strong {
            font-size: 24px;
            font-family: Cyntho Next;
          }
        }
      }
    }
  }
}
.catalog {
  background-color: #eaeaea;
  padding: 10px 0;
  .container {
    display: flex;
    align-items: center;
    position: relative;
    .catalog-btn {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 183px;
      height: 45px;
      background-color: $blue;
      border-radius: 20px 0px 0px 20px;
      color: white;
      cursor: pointer;
      position: relative;
      font-size: 18px;
      font-family: Cyntho Next;
    }
    .catalog-block {
      position: absolute;
      top: 45px;
      z-index: 5;
      padding-left: 20px;
      padding-top: 10px;
      left: 0;
      min-height: 160px;
      width: 183px;
      background-color: $blue;
      max-height: 0px;
      color: black;
      animation: 2s;
      display: none;
      .katalog {
        li {
          padding: 2px 0px;
          a {
            color: white;
            font-family: Cyntho Next;
            font-size: 18px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .height {
      display: block;
    }
    .he {
      border-bottom-left-radius: 0px;
    }
    form {
      display: flex;
      align-items: center;
      width: 100%;
      input {
        width: 100%;
        height: 45px;
        border: 0;
        background-color: #fff;
        padding-left: 25px;
        outline: 0;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 136px;
        height: 45px;
        background-color: $blue;
        border: 0;
        outline: 0;
        color: white;
        z-index: 5;
        border-radius: 20px;
        margin-left: -17px;
        margin-right: 2px;
        cursor: pointer;
        font-size: 16px;
        padding: 0px 20px;
        .fa-search {
          font-size: 20px;
        }
      }
    }
    .select {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 76px;
      height: 45px;
      background-color: $blue;
      border-radius: 20px;
      display: none;
      &:after {
        content: "▼";
        padding: 0 8px;
        font-size: 12px;
        position: absolute;
        right: 20px;
        top: 15px;
        z-index: 1;
        text-align: center;
        width: 10%;
        height: 100%;
        pointer-events: none;
        box-sizing: border-box;
        color: white;
      }
      select {
        display: none;
        border: 0;
        outline: 0;
        background-color: $blue;
        font-size: 18px;
        width: 50px;
        font-family: Cyntho Next;
        color: white;
        appearance: none;
        cursor: pointer;
      }
    }
  }
}
.slider-block {
  .container {
    padding: 20px 0px;
    .slider-lf {
      width: 100%;
      .swiper-container {
        width: 100%;
        height: auto;
      }
      .swiper-container-horizontal
        > .swiper-pagination-bullets
        .swiper-pagination-bullet {
        margin: 0 2px;
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        img {
          width: 100%;
        }
      }
      .swiper-pagination {
        position: absolute !important;
        bottom: 8%;
        display: flex;
        margin-left: 3%;
      }
      .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        opacity: 0.5;
        background-color: #fff;
        &-active {
          background-color: #fff;
          opacity: 1;
        }
      }
    }
  }
}

// Категроия товров

.category {
  .container {
    .title-category {
      text-align: center;
      font-style: 18px;
      font-family: Cyntho Next;
      font-weight: 600;
      margin-top: 30px;
    }
    .category-blocks {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 30px;
      .category-i {
        position: relative;
        padding: 10px;
        .category-item {
          width: 350px;
          height: 150px;
          background-color: #eaeaea;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          font-size: 24px;
          font-family: Cuprum;
          font-weight: 400;
          color: rgb(15, 15, 15);
          cursor: pointer;
          &:hover {
            box-shadow: 1px 0px 15px -3px #a3a3a3;
          }
        }
      }
    }
  }
}
.popular-products {
  margin-top: 30px;
  background-color: #eaeaea;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
    position: relative;
    .pop-title {
      font-family: Cyntho Next;
      font-size: 24px;
      font-weight: 600;
      margin-top: -40px;
    }
    .navig {
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 70px;
    }
    .swiper-button-prev {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #ffb800;
      font-size: 18px;
      outline: 0;
      &::after {
        font-size: 30px;
        font-weight: 800;
        color: #fff;
      }
    }
    .swiper-button-next {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #ffb800;
      font-size: 18px;
      outline: 0;
      &::after {
        font-size: 30px;
        font-weight: 800;
        color: #fff;
      }
    }
    .slider-products {
      .swiper-container {
        width: 800px;
        height: 300px;
      }
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        .pop-product-item {
          text-align: center;
          font-size: 16px;
          background: #ffffff;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          width: 230px;
          height: 300px !important;
          padding: 13px;
          box-shadow: 5px 7px 23px -1px rgba(0, 0, 0, 0.25);
          a {
            img {
              width: 200px;
              max-height: 140px;
            }
          }
          p {
            &:nth-child(1) {
              font-weight: 700;
            }
          }
          .price_product {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: normal;
          }
          .cart_product {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            button {
              padding: 7px 12px;
              font-size: 15px;
              color: white;
              border: 0;
              border-radius: 5px;
              background-color: $blue;
              &:hover {
                background-color: #e9ab00;
              }
            }

            a {
                button {
                  background-color: rgb(223, 223, 223);
                  color: black;
                  &:hover{
                  background-color: rgb(189, 189, 189);
                    color: white;
                  }
                }
            }
          }
        }

        p {
          text-align: left;
          font-family: Cyntho Next;
          width: 100%;
          margin: 5px 0;
          font-weight: 400;
          &:nth-child(3) {
            font-size: 21px;
          }
        }
      }
      .swiper-pagination {
        position: absolute !important;
        bottom: 38px;
        display: flex;
        margin-left: 70px;
      }
      .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        opacity: 0.5;
        background-color: #fff;
        &-active {
          background-color: #fff;
          opacity: 1;
        }
      }
    }
    .cart-product {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
.text-yellow {
  color: #ffb800;
}
// Наши партнеры
.partners {
  padding: 20px 0px 30px 0px;
  .container {
    .title_block_partners {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Cyntho Next;
      padding: 5px 0px 10px 0px;
    }
    .partners_blocks {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}
.footer {
  background-color: #535353;
  padding: 30px 0;
  .container {
    display: flex;
    justify-content: space-between;
    color: #fff;
    .our-soc {
      margin-top: 30px;
      .soc-icon {
        display: flex;
        align-items: center;
        margin-top: 10px;
        a {
          margin-right: 30px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    p {
      font-family: Cyntho Next;
      font-size: 18px;
      strong {
        border-bottom: 1px solid $blue;
        padding-bottom: 5px;
        font-size: 18px;
        font-family: Cyntho Next;
      }
    }
    ul {
      margin-top: 15px;
      li {
        display: flex;
        justify-content: space-between;
        text-align: right;
        font-family: Cyntho Next;
        font-size: 18px;
        margin: 7px 0;
        display: flex;
        a {
          color: #fff;
          text-align: left;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .contact-footer {
      ul {
        li {
          display: flex;
          align-items: center;
          text-align: right;
          .tel-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          a {
            display: flex;
            align-items: center;
            width: 100%;
            strong {
              text-align: right;
            }
          }
          img {
            margin-right: 8px;
          }
        }
      }
    }
  }
}

// blocks.html

.content-top-block {
  padding: 50px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title-content-top {
      p {
        font-size: 36px;
        font-weight: 600;
        font-family: Cyntho Next;
        &:nth-child(1) {
          font-size: 48px;
          font-weight: bold;
          color: #484848;
          text-align: left;
          span {
            color: $blue;
          }
          margin-bottom: 48px;
        }
      }
    }
  }
}
.content-in {
  padding: 20px 0px;
  padding-bottom: 40px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .item-best {
      display: flex;
      align-items: center;
      margin: 10px 0px;
      .text-info {
        font-size: 24px;
        font-family: Cyntho Next;
        font-weight: 600;
        span {
          color: $blue;
        }
      }
      .item-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        height: 110px;
        box-shadow: 7px 6px 23px 2px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        margin-right: 15px;
      }
      .icon-money {
        img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
.product-items {
  background-color: #eaeaea;
  padding: 30px 0px;
  padding-bottom: 60px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .pop-product-item {
      text-align: center;
      font-size: 16px;
      background: #ffffff;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 230px;
      height: 300px !important;
      padding: 13px;
      box-shadow: 5px 7px 23px -1px rgba(0, 0, 0, 0.25);
      margin-top: 20px;
      font-family: Cyntho Next;
      a {
        img {
          width: 200px;
          max-height: 140px;
        }
      }
      p {
        &:nth-child(1) {
          font-weight: 700;
        }
      }
      .price_product {
        width: 100%;
        font-size: 16px;
        text-align: center;
        font-weight: normal;
      }
      .cart_product {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        button {
          padding: 7px 12px;
          font-size: 15px;
          color: white;
          border: 0;
          border-radius: 5px;
          background-color: $blue;
        }
        a {
          button {
            padding: 7px 12px;
            font-size: 15px;
            border: 0;
            background-color: rgb(223, 223, 223);
            color: black;
            &:hover {
              background-color: #e9ab00;
              background-color: rgb(189, 189, 189);
              color: white;
            }
          }
        }
      }
    }
  }
}
// 404
.notfound{
  padding: 70px 0px 100px 0px;
  .container{
    font-family: Cyntho Next;
    h2{
      margin: 10px 0px;
    }
    p{
      width: 60%;
      a{
        color: $blue;
        font-size: 18px;
      }
    }
  }
}
// product.html
.product-about {
  .container {
    padding: 10px 0px 50px 0px;
    .title-products {
      font-family: Cyntho Next;
      h3 {
        font-size: 26px;
        padding: 10px 0px 10px 0px;
      }
      p {
        font-size: 16px;
        font-weight: normal;
        color: #707070;
        padding-top: 8px;
      }
    }
    .product {
      display: flex;
      position: relative;
      .product-small-img {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 10px;
        img {
          height: 92px;
          margin: 10px 0;
          cursor: pointer;
          display: flex;
          justify-content: flex-start;
          opacity: 0.6;
          &:hover {
            opacity: 1;
          }
        }
      }
      .img-container {
        display: flex;
        align-items: start;
        justify-content: center;
        padding: 10px 0px;
        img {
          width: 500px;
        }
      }
      .about-product {
        font-family: Cyntho Next;
        padding: 10px 0px 0px 20px;
        p {
          b {
            font-size: 22px;
            font-weight: bold;
          }
        }
        ul {
          margin-top: 15px;
          list-style: circle;
          li {
            padding: 5px 0px;
            margin-left: 20px;
          }
        }
        .btn-add {
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          .CartBtn {
            width: 180px;
            height: 45px;
            font-size: 16px;
            font-family: Cyntho Next;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
            background-color: $blue;
            border: 0;
            outline: 0;
            margin-top: 10px;
            a{
              width: 100%;
              height: 100%;
            }
          }
        }
        .price-product {
          margin-top: 10px;
          padding-left: 5px;
          font-size: 20px;
        }
      }
    }
  }
}

// admin panel

.add_product_to_bd_block {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
    .title_admin_panel {
      display: flex;
      align-items: center;
      font-family: Cyntho Next;
    }
    .add_poduct_btn {
      display: flex;
      align-items: center;
      width: 100%;
      button {
        padding: 10px 20px;
        background-color: #0d6efd;
        color: white;
        border: 0;
        outline: 0;
        border-radius: 5px;
        font-family: Cyntho Next;
      }
    }
    .added_products {
      width: 100%;
      margin: 20px 0px;
      font-family: Cyntho Next;
      .table_products {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        .table_header {
          display: flex;
          align-items: center;
          width: 100%;
          background-color: $blue;
          font-family: Cyntho Next;
          font-weight: normal;
          border-radius: 10px 10px 0px 0px;
          div {
            padding: 10px 20px 10px 10px;
            width: 13.33%;
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: white;
            &:nth-child(1) {
              width: 10%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            &:nth-child(2) {
              width: 40%;
            }
          }
        }
        .table_product_added {
          display: flex;
          flex-direction: column;
          width: 100%;
          .info_product_item {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 100%;
            border-bottom: 1px solid #f2f2f2;
            div {
              width: 13.33%;
              padding: 10px 20px 10px 10px;
              &:nth-child(1) {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10%;
              }
              &:nth-child(2) {
                width: 40%;
              }
            }
            .edit_product {
              width: 15%;
              display: flex;
              align-items: center;
              justify-content: center;
              button {
                display: flex;
                align-items: center;
                border: 0;
                outline: 0;
                background-color: transparent;
                margin: 0px 5px;
                background-color: $blue;
                padding: 5px;
                border-radius: 5px;

                color: white;
                &:nth-child(2) {
                  background-color: #d33f4e;
                }
              }
            }
          }
        }
      }
    }
  }
}
// about.html
.about{

  .container{
    font-family: Cyntho Next;
    padding: 20px 0px;
    .header_about{
      display: flex;
      align-items: center;
      justify-content: center;
      color: #eeb600;
    }
    .about_content{
      margin: 10px 0px;
      p{
        margin-bottom: 50px;
      }
      h3{
        text-align: center;
        margin: 10px 0px;
      }
    }
  }
}
// edit block
.edit_block {
  .container {
    padding: 10px 0px;
    .back_btn {
      padding: 5px 10px;
      background-color: #dc3545;
      color: white;
      font-family: Cyntho NExt;
      border-radius: 5px;
      &:hover {
        background-color: #dc3545;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      label {
        margin-top: 10px;
        font-size: 18px;
        font-family: Cyntho Next;
        margin-bottom: 3px;
      }
      input {
        height: 30px;
        padding-left: 5px;
      }
      select {
        height: 30px;
      }
      .submit_edit {
        margin-top: 30px;
        width: 150px;
        font-family: Cyntho Next;
        background-color: $blue;
        color: white;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        &:hover {
          background: #2676ee;
        }
      }
      .submit_reset{
        margin-top: 30px;
        width: 150px;
        font-family: Cyntho Next;
        background-color: rgb(189, 189, 189);
        color: black;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        margin-top: 10px;
        &:hover {
          background: #2676ee;
        }
      }
    }
  }
}
// warranty
.warranty {
  padding: 20px 0px 20px 0px;
  .container {
    font-family: Cuprum;
    .h3_text_wr {
      h2 {
        margin: 10px 0px;
        font-weight: normal;
        color:rgb(238, 182, 0);

      }
      ul {
        list-style: inside;
        padding-left: 20px;
        li {
          font-size: 18px;
        }
      }
      p {
        font-size: 18px;
        margin: 10px 0px;
      }
    }
  }
}
// delivery
.delivery {
  padding: 20px 0px 20px 0px;
  .container {
    font-family: Cuprum;
    display: flex;
    align-items: center;
    .text_delivery{
      .h3_text_wr {
        h2 {
          margin: 10px 0px;
          font-weight: normal;
          color:rgb(238, 182, 0);
        }
        p {
          font-size: 18px;
          margin: 10px 0px;
        }
      }      
    }

  }
}
// modal window
#inModal {
  display: none;
  position: fixed;
  z-index: 12;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modProd {
  cursor: pointer;
}
.dModal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .modal-content-sup {
    width: 440px;
    height: 390px;
    background-color: #fff;
    .content {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 33px 0px;
      label {
        font-family: Cuprum;
        font-size: 18px;
        text-align: left;
        width: 320px;
        margin-top: 10px;
        color: #707070;
      }
      input {
        width: 335px;
        height: 33px;
        padding-left: 10px;
        border: 1px solid $blue;
        border-radius: 28px;
        outline: 0;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
        &[type="number"] {
          -moz-appearance: textfield;
        }
      }
      .submits {
        margin-top: 30px;
        button {
          height: 25px;
          border-radius: 10px;
          outline: 0;
          border: 0;
          color: white;
          font-size: 18px;
          font-family: Cuprum;
          cursor: pointer;
          &:nth-child(1) {
            width: 81px;
            background-color: #707070;
          }
          &:nth-child(2) {
            width: 102px;
            background-color: $blue;
          }
        }
      }
    }
  }
}
// cart.html
.cart_block {
  .container {
    padding: 30px 0px 80px 0px;
    .title_cart_added {
      text-align: left;
      font-family: Cyntho Next;
      margin: 0px 0px 20px 0px;
    }
    .products_cart {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 10px 0px;
      .product_cart_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        border: 1px soli rgb(36, 36, 36);
        border-radius: 5px;
        padding: 10px;
        background-color: white;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
        .product_img_title {
          display: flex;
          align-items: center;
          img {
            width: 80px;
          }
        }
        strong {
          font-family: Cyntho Next;
          font-size: 22px;
        }
        .product_counter_cart {
          .counter_block {
            display: flex;
            align-items: center;
            justify-content: center;
            span {
              padding: 0px 10px;
              font-weight: 600;
              font-size: 20px;
            }
            button {
              padding: 0px 5px;
              border: 0;
              outline: 0;
              background-color: $blue;
              border-radius: 3px;
              font-size: 18px;
              font-weight: normal;
              cursor: pointer;
            }
          }
        }
      }
    }
    .footer_cart {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 30px;
      .price_title_all {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-family: Cyntho Next;
        padding-bottom: 10px;
        span {
          color: #5c5c5c;
        }
        strong {
          color: black;
          padding-left: 10px;
        }
      }
      .ofor_btn {
        button {
          padding: 10px 15px;
          font-family: Cyntho Next;
          font-weight: 600;
          background-color: $blue;
          outline: 0;
          border: 0;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
// oformit html
.oformit {
  .container {
    padding: 0px 10px 40px 10px;
    .oformit_title {
      text-align: left;
      font-family: Cyntho Next;
      margin: 10px 0px 20px 0px;
    }
    form {
      display: flex;
      flex-direction: column;
      label {
        margin-top: 10px;
        font-family: Cuprum;
      }
      input {
        height: 30px;
        width: 60%;
        outline: 0;
        padding-left: 10px;
        margin: 5px 0px;
      }
      button {
        width: 120px;
        height: 30px;
        border: 0;
        outline: 0;
        background-color: $blue;
        font-size: 16px;
        font-family: Cyntho Next;
        font-weight: 600;
        border-radius: 5px;
        margin: 10px 0px;
      }
    }
  }
}
